body {
    background-color: white;
}

.container-parent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}

.container-lower,
.container-upper {
    /*border: 2px solid black;*/
    height: 100%;
    overflow: hidden;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #c0c0c0;
    background-color: aliceblue;
}

.container-lower {
    margin-top: 10px;
}

/*.container-child-1,
.container-child-2,
.container-child-3,
.container-child-4,
.container-child-5,
.container-child-6 {
    border: 1px solid black;
}*/


.container-child-1,
.container-child-2 {
    width: 50%;
    float: left;
}

.container-child-2 {
    text-align: right;
    font-weight: bold;
}

.container-child-3,
.container-child-6 {
    width: 50%;
    float: left;
}

.container-child-4,
.container-child-5 {
    width: 50%;
    float: left;
}

.container-subchild-4 {
    float: left;
}

body .universal-table {
    padding: 20px;
}

.graph {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th,
tbody td,
tfoot td {
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead th,
tfoot td {
    background-color: #f2f2f2;
    font-weight: bold;
}

.buttons {
    display: flex;
}

.navbar .dropdown-menu {
    background-color: azure;
}

.navbar .dropdown.show a {
    background-color: azure;
}

#incomeexpense>thead>tr>th,
#demanddebt>thead>tr>th,
#assets>thead>tr>th,
#minorassets>thead>tr>th {
    cursor: pointer;
}

.table-container {
    overflow: auto;
    max-height: 80vh;
}

#incomeexpense thead th,
#journal thead th,
#assets thead th,
#demanddebt thead th,
#incomeexpense tfoot td,
#journal tfoot td,
#assets thead td,
#demanddebt thead td,
header {
    position: sticky;
}

#incomeexpense thead th,
#journal thead th,
#assets thead th,
#demanddebt thead th  {
    top: 0;
}

#incomeexpense tfoot td,
#journal tfoot td {
    bottom: 0;
}

header {
    top: 0;
    z-index: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.modal-backdrop {
    z-index: 0;
}