body {

}
home {

}
#language_icon{
    opacity: 0.5;
    margin: 4px;
    font-size: 1.2rem;
    color: whitesmoke;
}

#language_icon:hover{
    opacity: 1;
    cursor: pointer;
}
#table1>thead>tr>th,
#table2>thead>tr>th,
#table3>tbody>tr,
#table3>thead>tr>th,
#table4>tbody>tr{cursor: pointer;}